header {
    border-style: double;
    border-width: 8px;
    border-color: black;
    border-radius: 6px;
    background-color: rgb(149, 168, 206);
    box-shadow: darkorange 4xp 4px 2px;
    text-align: center;
    color: Black;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: lightcoral 1px 1px 2px;
}

hr {
    color: darkorange;
    height: 6px;
}

form {
    border-style: double;
    border-width: 6px;
    border-color: darkorange;
    border-radius: 6px;
    background-color: lightslategrey;
}

.form-control {
    margin: 10px;
}

#submitButton {
    margin: 5px;
    text-align: center;
}
